<app-header [fromApp] = 'messageFrApp' (headerOption)="onGoto($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <!-- <p>feature selected: {{header.featureLabel}} </p> -->
        <!-- <p>feature selected: {{feature}} </p> -->
        <!-- A. render recipe/shopping components via event listener -->
      <!-- Replaced A. with router-outlet -->
      <!-- <app-recipes  *ngIf="feature=='recipe'"></app-recipes> -->
      <!-- <app-shopping-list *ngIf="feature=='shopping-list'"></app-shopping-list> -->
      <!-- <app-shopping-list></app-shopping-list> -->
      <router-outlet></router-outlet>
      <!-- B. render recipe/shopping components based on either a string or boolean accessed via viewChild  -->
      <!-- <app-recipes  *ngIf="header.message=='recipe'"></app-recipes> -->
      <!--  -->
      <!-- <app-recipes  *ngIf="header.displayRecipe"></app-recipes> -->
      <!-- <app-shopping-list *ngIf="!header.displayRecipe"></app-shopping-list> -->
    </div>
  </div>
  <!-- <p> from Head: {{header.newMessage}}</p> -->
</div>


